################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MauiApp2/FileContentIndex/6e849e66-b85a-4376-a84b-a957f96ff174.vsidx
/.vs/MauiApp/FileContentIndex
/.vs/MauiApp2/FileContentIndex
